{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "About Us" %}{% endblock title %}
{% block content %}

<header class="clearfix" id="headerInsert"></header>
<!-- End Header -->

<!-- Start Page Banner -->
<div class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About US</h2>
        <p>Learn Something!</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Page Banner -->

<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="page-content">
      <div class="row">
        <div class="col-md-7">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Stuff about us</span></h4>
          <!-- Some Text -->
          <p>This used to have that standard text, everyone kept thinking it was french so we decided to change it so you would leave us alone. Imagine we have some creative stuff written here, it is the best we can do. </p>
          <p>We tend to do stuff and have a great time doing it. We are spread all across Texas and have friends. More stuff is here and then maybe even a bit more.</p>
        </div>
      <div class="col-md-5">

      <!-- Start Touch Slider -->
      <!--<div class="touch-slider" data-slider-navigation="true" data-slider-pagination="true"> -->
        <div class="item"><img alt="" src="http://lorempixel.com/400/300/animals/1"></div>
      <!--</div> -->
      <!-- End Touch Slider -->
    </div>
  </div>
  <!-- Divider -->
  <!-- <div class="hr1" style="margin-bottom:50px;"></div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="classic-title"><span>Our Home towns</span></h4>
      <div class="skill-shortcode">
        <div class="skill">
          <p>Dallas, TX</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" data-percentage="90">
              <span class="progress-bar-span">20</span>
              <span class="sr-only">90% Complete</span>
            </div>
          </div>
        </div>
        <div class="skill">
          <p>Austin, TX</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" data-percentage="100">
              <span class="progress-bar-span">25</span>
              <span class="sr-only">100% Complete</span>
            </div>
          </div>
        </div>
        <div class="skill">
          <p>San Marcos, TX</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" data-percentage="70">
              <span class="progress-bar-span">10</span>
              <span class="sr-only">70% Complete</span>
            </div>
          </div>
        </div>
        <div class="skill">
          <p>Houston, TX  </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" data-percentage="20">
              <span class="progress-bar-span">5</span>
              <span class="sr-only">20% Complete</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->  
  </div>
</div>
{% endblock %}