{% load i18n %}
{% load socialaccount %}
{% providers_media_js %}
<div class="content">
  <!-- Classic Heading -->
  <h4 class="classic-title" style="margin-top:0px"><span>{% trans "Sign In" %}<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></span></h4>
   <div class="row">
     <div class="col-md-5 col-xs-9 col-md-offset-1" style="padding-bottom:5px">
     <a href="{% provider_login_url 'facebook' method='js_sdk' %}" class="btn btn-block btn-social btn-facebook">
      <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
    </div>
    <div class="col-md-5 col-xs-9" style="padding-bottom:5px">
    <a href="{% provider_login_url 'google' %}" class="btn btn-block btn-social btn-google">
      <span class="fa fa-google"></span> Sign in with Google
    </a>
    </div>
  </div>
  <br><h4>Or Sign In Directly...</h4><br>
  <form class="login shake" id="loginForm" role="form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
      <div class="controls">
        <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <input id="id_password" class="login-input" name="password" placeholder="Password" type="password" />{{ form.password.errors }}
      </div>
    </div>
    <div class="remember-forgot-section">
        <input id="id_remember" name="remember" type="checkbox" />
        <label for="id_remember">Remember Me</label>
        <a class="forgot" style="float:right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="btn-system btn-large" type="submit">{% trans "Sign In" %}</button>
  </form>
  <br>
  <p>Don't have an account? <a href="{{ signup_url }}">Sign up</a> now!</p>
</div>

