<div class="home-page">
  <div class="home-main" ng-style="BackgroundImage">
    <img src="img/FyrGirlsTW.jpg" alt="laptopmockup_sliderdy" data-lazyload="images/FyrGirlsTW.jpg">

    <div class="container">
      <div class="row">
        <!-- Start Service Icon 1 -->
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
          <div class="service-icon">
            <i class="fa fa-leaf icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Stuff Eventually</h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>

          </div>
        </div>
        <!-- End Service Icon 1 -->

        <!-- Start Service Icon 2 -->
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">
          <div class="service-icon">
            <i class="fa fa-desktop icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Seriously it is coming</h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
          </div>
        </div>
        <!-- End Service Icon 2 -->

        <!-- Start Service Icon 3 -->
        <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="03">
          <div class="service-icon">
            <i class="fa fa-eye icon-large"></i>
          </div>
          <div class="service-content">
            <h4>Maybe just some cat pictures</h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Lorem pariatur</p>
          </div>
        </div>
      </div>
    </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
</div>