{% load i18n %}
<div class="content">
  <!-- Classic Heading -->
<h4 class="classic-title" style="margin-top:0px"><span>{% trans "Newsletter Subscribe" %}<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></span></h4>
<p>Welcome, {{ user }}!</p>

{% if messages %}
<ul>
    {% for message in messages %}
    	<li>{{ message }}</li>
    {% endfor %}
</ul>
{% else %}
{% trans "Do you want to subscribe to this newsletter?" %}
<form enctype="multipart/form-data" method="post" action="{% url 'newsletter_subscribe_confirm' newsletter.slug %}">
    {% csrf_token %}
    <p><input id="id_submit" name="submit" value="{% trans 'Subscribe' %}" type="submit" /></p>
</form>
{% endif %}
</div>
