{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    {% load static %}
    
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
    <!-- Page Description and Author -->
    <meta name="description" content="Fyr Presents public website">
    <meta name="author" content="Fyr Presents">
    <meta name="google-site-verification" content="p9dK81E9uvP7LRlULybrQrjuNHKxiXfKi43iifKK-Ds" />
    <link rel="shortcut icon" href="{% static '../favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"  type="text/css" media="screen">
    <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet"  type="text/css" media="screen">
    <link href="{% static 'css/settings.css' %}" rel="stylesheet"  type="text/css" media="screen">
    

    <!-- CSS for additional features -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'css/slicknav.css' %}" rel="stylesheet" type="text/css" media="screen">
    <!-- Custom CSS styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'css/bubbles.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet" type="text/css" media="screen">
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <!-- Color Defult -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/jade.css' %}" media="screen"/>

    <!-- Color CSS Styles  -->
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/red.css' %}" title="red" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/jade.css' %}" title="jade" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/green.css' %}" title="green" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/blue.css' %}" title="blue" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/beige.css' %}" title="beige" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/cyan.css' %}" title="cyan" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/orange.css' %}" title="orange" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/peach.css' %}" title="peach" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/pink.css' %}" title="pink" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/purple.css' %}" title="purple" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/sky-blue.css' %}" title="sky-blue" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="{% static 'css/colors/yellow.css' %}" title="yellow" media="screen" />


      <!-- Margo JS  -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.migrate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modernizrr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nivo-lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/count-to.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.textillate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.lettering.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/smooth-scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/skrollr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.parallax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mediaelement-and-player.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/style.changer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/instafeed.js' %}"></script>
    
    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    <!-- Full Body Container -->
    <div id="container">
      <!-- Start Header Section -->
      <header class="clearfix">
        <!-- Start Top Bar -->
        <div class="top-bar">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <!-- Start Contact Info -->
                <ul class="contact-details">
                  <li><a href="#"><i class="fa fa-map-marker"></i> Everywhere, Texas</a>
                  </li>
                  <li><a href="#"><i class="fa fa-envelope-o"></i> info@fyrpresents.com</a>
                  </li>
                  <li><a href="#"><i class="fa fa-phone"></i> 817-946-1283</a>
                  </li>
                </ul>
                <!-- End Contact Info -->
              </div>
              <!-- .col-md-6 -->
              <div class="col-md-6">
                <!-- Start Social Links -->
                <ul class="social-list">
                 <!-- 
                  <li>
                    <a class="google itl-tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a class="dribbble itl-tooltip" data-placement="bottom" title="Dribble" href="#"><i class="fa fa-dribbble"></i></a>
                  </li>
                  <li>
                    <a class="linkdin itl-tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a class="flickr itl-tooltip" data-placement="bottom" title="Flickr" href="#"><i class="fa fa-flickr"></i></a>
                  </li>
                  <li>
                    <a class="tumblr itl-tooltip" data-placement="bottom" title="Tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                  </li> -->
                  <li>
                    <a class="facebook" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a class="twitter" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a class="instgram" data-placement="bottom" title="Instagram" href="https://www.instagram.com/fyrcrew/"><i class="fa fa-instagram"></i></a>
                  </li>
                   
                  <!--<li>
                    <a class="vimeo itl-tooltip" data-placement="bottom" title="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                  </li>
                  <li>
                    <a class="skype itl-tooltip" data-placement="bottom" title="Skype" href="#"><i class="fa fa-skype"></i></a>
                  </li> -->
                  <li>
                  {% if request.user.is_authenticated %}
                    <a class="instgram" data-placement="bottom" title="Log Out" href="/accounts/logout/" style="padding:7px 0 7px 0">Log Out</a>
                  {% else %}
                    <a id="login" class="btn btn-system" style="color:white">Sign In</a>
                  {% endif %}
                  </li>
                </ul>
                <!-- End Social Links -->
              </div>
            </div>
            <!-- .row -->
          </div>
          <!-- .container -->
        </div>
        <!-- .top-bar -->
        <!-- End Top Bar -->
        <!-- Start  Logo & Naviagtion  -->
        <div class="navbar navbar-default navbar-top" role="navigation" data-spy="affix" data-offset-top="50">
          <div class="container">
            <div class="navbar-header">
              <!-- Stat Toggle Nav Link For Mobiles -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
              </button>
              <!-- End Toggle Nav Link For Mobiles -->
              <a class="navbar-brand" href="/home">
                <img alt="" src="{% static 'images/FyrLogoSmall.png' %}">
                <!--<img alt="" src="{% static 'images/FyrPresentsLogoSmall.png' %}">-->
              </a>
            </div>
            <div class="navbar-collapse collapse">
              <!-- Start Navigation List -->
              <ul class="nav navbar-nav navbar-right">
                <li><a {% if 'home' in request.path %}class="active"{% endif %} href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                  {% if perms.UserProfile.fyr_member %}
                    <li><a {% if 'events' in request.path %}class="active"{% endif %} href="{% url 'eventslist' %}">Events</a>
                      <ul class="dropdown">
                        <li><a href="{% url 'fullcalendar' 'fyr-official-calendar' %}">Calendar</a></li>
                      </ul>
                    </li>
                    {% if perms.UserProfile.fyr_developer %}
                      <li><a {% if 'market' in request.path %}class="active"{% endif %} href="/market">Market</a></li>
                      <li><a {% if 'mingle' in request.path %}class="active"{% endif %} href="{% url 'mingle' %}">Mingle</a></li>
                      <li><a {% if 'weblog' in request.path %}class="active"{% endif %} href="/weblog">Blog</a></li>
                    {% endif %}
                    <li><a {% if 'profile' in request.path %}class="active"{% endif %} href="{% url 'userprofile' %}">Profile</a></li> 
                  {% endif %}
                {% endif %}
                <li><a {% if 'about' in request.path %}class="active"{% endif %} href="{% url 'about' %}">About</a></li>
                <li><a {% if 'contact' in request.path %}class="active"{% endif %} href="{% url 'contact' %}">Contact</a></li>
              </ul>
              <!-- End Navigation List -->
            </div>
          </div>
          
          <!-- Mobile Menu Start -->
          <ul class="wpb-mobile-menu">
            <li><a {% if 'home' in request.path %}class="active"{% endif %} href="{% url 'home' %}">Home</a></li>
            {% if request.user.is_authenticated %}
              {% if perms.UserProfile.fyr_member %}
                <li><a {% if 'events' in request.path %}class="active"{% endif %} href="{% url 'eventslist' %}">Events</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'fullcalendar' 'fyr-official-calendar' %}">Calendar</a></li>
                  </ul>
                </li>
                {% if perms.UserProfile.fyr_developer %}
                  <li><a {% if 'market' in request.path %}class="active"{% endif %} href="/market">Market</a></li>
                  <li><a {% if 'mingle' in request.path %}class="active"{% endif %} href="{% url 'mingle' %}">Mingle</a></li>
                  <li><a {% if 'weblog' in request.path %}class="active"{% endif %} href="/weblog">Blog</a></li>
                {% endif %}
                <li><a {% if 'profile' in request.path %}class="active"{% endif %} href="{% url 'userprofile' %}">Profile</a></li>
              {% endif %}
            {% endif %}
            <li><a {% if 'about' in request.path %}class="active"{% endif %} href="{% url 'about' %}">About</a></li>
            <li><a {% if 'contact' in request.path %}class="active"{% endif %} href="{% url 'contact' %}">Contact</a></li>
            
          </ul>
          <!-- Mobile Menu End -->
        </div>
        <!-- End Header Logo & Navigation -->
      </header>
      <!-- End Header Section -->

      <!-- Full Body Container -->
      {% block content %}{% endblock %}

      <!-- Start Footer Section -->
      <footer>
        <div class="container">
          <div class="row footer-widgets">


            <!-- Start Subscribe & Social Links Widget -->
            <div class="col-md-3 col-xs-12">
              <div class="footer-widget mail-subscribe-widget">
                <h4>Get in touch<span class="head-line"></span></h4>
                <p>Join our mailing list to stay up to date and get notices about our random stuff!</p>
                <p>Though, right now we don't have a newsletter. So you'd be signing up just to help test the site. <br> 
                <a id="subscribe" class="btn btn-medium btn-system">Subscribe</a>
              </div>
              <div class="footer-widget social-widget">
                <h4>Follow Us<span class="head-line"></span></h4>
                <ul class="social-icons">
                  <!--
                  
                  <li>
                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                  </li>
                  <li>
                    <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                  </li>
                  <li>
                    <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                  </li> -->
                  <li>
                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a class="instgram" href="https://www.instagram.com/fyrcrew/"><i class="fa fa-instagram"></i></a>
                  </li>
                 <!-- <li>
                    <a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                  </li>
                  <li>
                    <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                  </li> -->
                </ul>
              </div>
            </div> 
            <!-- .col-md-3 -->
            <!-- End Subscribe & Social Links Widget -->
            <!-- Start Flickr Widget -->
            <div class="col-md-3">
              <div class="footer-widget flickr-widget">
                <h4>Instagram Feed - <a href="https://www.instagram.com/fyrcrew/">@FYRCrew</a><span class="head-line"></span></h4>
                <ul class="flickr-list">
                  <div id="instafeed"></div>
                </ul>
              </div>
            </div>
            <!-- Start Twitter Widget -->
            <div class="col-md-3">
              <div class="footer-widget twitter-widget">
                <h4>Twitter Feed<span class="head-line"></span></h4>
                <ul>
                  <li>
                    <p><a href="#">@FYRCrew </a> Looks like we need to get a twitter account as well.</p>
                    <span>5 May 2017</span>
                  </li>
                  <li>
                    <p><a href="#">@FYRCrew </a> But who will run the twitter account?.</p>
                    <span>5 May 2017</span>
                  </li>
                  <li>
                    <p><a href="#">@FYRCrew </a> Has to be the funniest people of all of FYR.</p>
                    <span>5 May 2017</span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Twitter Widget -->
            <!-- Start Contact Widget -->
            <div class="col-md-3 col-xs-12">
              <div class="footer-widget contact-widget">
              <h4><img src="{% static 'images/FyrLogoSmall.png' %}" class="img-responsive" alt="Footer Logo" /></h4>
              <p>We are FYR. Don't tell us to not do something, because that will just make us want to do it. There is no time to have a bad time when together.</p>
              <ul>
                <li><span>Phone Number:</span> 817-946-1283</li>
                <li><span>Email:</span> info@fyrpresents.com</li>
                <li><span>Website:</span> www.fyrpresents.com</li>
              </ul>
              </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Contact Widget -->
          </div>
          <!-- .row -->

          <!-- Start Copyright -->
          <div class="copyright-section">
            <div class="row">   
              <!-- .col-md-6 -->
              <div class="col-md-6">
                <ul class="footer-nav">
                  <li><a href="/sitemap.xml">Sitemap</a>
                  </li>
                  <li><a href="/privacypolicy.html">Privacy Policy</a>
                  </li>
                  <li><a href="{% url 'contact' %}">Contact</a>
                  </li>
                </ul>
              </div>
              <!-- .col-md-6 -->
            </div>
            <!-- .row -->
          </div>
          <!-- End Copyright -->

        </div>
        
      </footer>
      <!-- End Footer Section -->
    </div>
    <!-- End Full Body Container -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <div id="loader">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>

   <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 99999999;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="form-modal-body" class="modal-body">
            ...
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block javascript %}{% endblock %}
    <script>
      $('#subscribe').click(function() {
        $('#form-modal-body').load("{% url 'newsletter_subscribe_confirm' 'general' %}", function () {
          $('#form-modal').modal('toggle');
          formAjaxSubmit('#form-modal-body form', '#form-modal');
        });
      });
      $('#login').click(function() {
        $('#form-modal-body').load("{% url 'account_login' %}", function () {
          $('#form-modal').modal('toggle');
          formAjaxSubmit('#form-modal-body form', '#form-modal');
        });
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-99323315-1', 'auto');
      ga('send', 'pageview');
  </script>
  </body>
</html>
