{% extends 'texasfyre/base.html' %}
{% load i18n %}
{% load static %}
{% load vote %}
{% block title %}{% trans "Mingle" %}{% endblock title %}
{% block content %}

<header class="clearfix" id="headerInsert"></header>
<!-- End Header -->

<!-- Start Page Banner -->
<div class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Mingle</h2>
        <p>Be friends already!</p>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
          <li><a href="#">Mingle</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Page Banner -->

{% if request.user.profile.account_verified %}
<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="page-content">
    <a id="submit_video" class="btn btn-system">Give Us Something</a>
      <h4 class="classic-title"><span>Let's show off some videos a bit</span></h4>
      <!-- Accordion -->
      
      <div class="panel-group" id="accordion">
        <!-- Start Accordion 1 -->
        <div class="panel panel-default">
          <!-- Toggle Heading -->
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                <i class="fa fa-angle-up control-icon"></i>
                <i class="fa fa-desktop"></i> User Uploaded Videos
              </a>
            </h4>
          </div>
          <!-- Toggle Content -->
          <div id="collapse-1" class="panel-collapse collapse in">
            <div class="row">
            {% for video in object_list %}
              <div class="col-md-3">
                <iframe width="200" height="100" src="https://www.youtube.com/embed/{{video.video_id}}" frameborder="0" allowfullscreen></iframe>
                <div class="row" style="margin:5px">
                  <div class="col-md-4 col-md-offset-4">
                    {% vote_exists video as does_vote_exist %}
                    {% if does_vote_exist %}
                    <a href="{% url 'down_vote' video.id %}" class="btn btn-system">Down Vote</a>
                     {% else %}
                     <a href="{% url 'up_vote' video.id %}" class="btn btn-system">Up Vote</a>
                     {% endif %}
                  </div>
                </div>
                <p><strong class="accent-color">Uploaded By: </strong> {{video.uploader}}</p>
                <p><strong class="accent-color">Category: </strong> {{video.category}}</p>
                <p><strong class="accent-color">Votes: </strong> {{video.votes.count}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- End Accordion 1 -->
      </div>
      
      
    </div>
  </div>
</div>
{% else %} Go away, this page isn't ready {% endif %} 
{% endblock %}
{% block javascript %}
<script>
  $('#submit_video').click(function() {
    $('#form-modal-body').load("{% url 'submit_video' %}", function () {
      $('#form-modal').modal('toggle');
      formAjaxSubmit('#form-modal-body form', '#form-modal');
    });
  });
</script>
{% endblock %}

